@import "tailwindcss";
/* Estilos globales adicionales */
html {
  scroll-behavior: smooth;
}

/* Estilos para scrollbar personalizada */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #CA8A04;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #A16207;
}

/* Estilos para selección de texto */
::selection {
  background-color: #CA8A04;
  color: white;
}